@font-face{
    font-family: "HRegular";
    src: url("../fonts/HRegular.woff") format("woff"), url("../fonts/HRegular.woff2") format("woff2");
}
@font-face{
    font-family: "HRoman";
    src: url("../fonts/HRoman.woff") format("woff"), url("../fonts/HRoman.woff2") format("woff2");
}
@font-face{
    font-family: "HBold";
    src: url("../fonts/HBold.woff") format("woff"), url("../fonts/HBold.woff2") format("woff2");
}