body {
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

img {
    min-width: 100%;
}

/* RESET STYLE, СБРОС СТИЛЕЙ */

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

header, section, main, article, aside, div, footer, content {
    margin: 0;
    padding: 0;
}

ul, ol, li, dl, dt, dd, dh, select, datelist, option {
    margin: 0;
    padding: 0;
}

table, tr, td, th, thead, tbody, tfoot {
    margin: 0;
    padding: 0;
}

figure, figcaption {
    margin: 0;
    padding: 0;
}

form, input, textarea, button, submit {
    margin: 0;
    padding: 0;
}

/* RESET STYLE END, СБРОС СТИЛЕЙ  КОНЕЦ */

header {
    width: 100%;
    height: 100%;
    background-image: url("../images/header_bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid #EEEEEE;
    color: #fff;
    padding: 200px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header_title {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em .5em;
    background: radial-gradient(circle, rgba(66,75,80,.75), rgba(4,1,31,.75));
}

.header_title h2, p {
    padding: .5em 0;
}










